<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div>

    <div id="top_row">
        <a href="#" class = "menu" >Home</a>
        <a href="#" class = "menu">Invite</a>
        <img class = "profile_img" src="{{ profile.image }}" alt="profilepic" >
        <p>${{ profile.credit }}</p>
    </div>
    <div id="bottom_row">
        <div id = "profile">
            <div id="base">
                {% if profile.profile_completion == 100 %}
                    <p style="float:left;">Wooh!Profile Completed</p>
                {% else %}
                    <p style="float:left;">COMPLETE YOUR PROFILE!</p>
                     <p style="float:right;">EARN <sup>$</sup>1</p>
                {% endif %}
                <br>
                <br>
                <br>
                <div id="progressbar">
                    <div style = "width : {{ profile.profile_completion }}%"></div>
                </div>
                <p style="float:left; font-size:86%">Progress {{ profile.profile_completion }}%</p>
            </div>
        </div>
        <div id = "opportunities">
            {% if opportunities.featured|length > 0 %}
                <div id = "featured">
                    <div class = "ftitle">Featured Opportunity</div>
                    <div class = "fcontainer">
                        <img src = "{{ opportunities.featured.image }}">
                        <div class = "fcontenttitle">{{ opportunities.featured.title }}</div>
                        <div class = "fcaption"> {{ opportunities.featured.caption }}</div>
                        {% if  opportunities.featured.additional_offers %}
                            <div class = "additional_offer">{{ opportunities.featured.additional_offers }}</div>
                        {% endif %}
                        <a class = "flearnmore">Learn More</a>
                    </div>
                </div>
            {% endif %}
            <div id = "other">
                <div class = "ftitle">Available Opportunities</div>
                {% for opp in opportunities.other %}
                <div class = "fcontainer otheroppcontainer">
                    <img class = "otheroppimage" src = "{{ opp.image }}">
                    <div class = "fcontenttitle">{{ opp.title }}</div>
                    <div class = "fcaption"> {{ opp.caption }}</div>
                    <a class = "flearnmore">Learn More</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>