<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% load static %}
<link rel="stylesheet" href="{% static "css/login.css" %}">


{% block content %}
    <div class="login-form">
    <form action="/login/" method="post">
        {% csrf_token %}
        <h2 class="text-center">Log in</h2>

        {% if error %}
        <div class="alert alert-danger">
  <strong>{{ error }} </strong>
</div>
        {% endif %}
        <div class="form-group">
            <input type="text" class="form-control" name="username"  placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
    </form>
</div>
{% endblock content %}