a:link, a:visited {
    color: grey;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    }
    a.menu:hover, a:active {
        border-radius: 8px;
        background-color: grey;
        color: white;
    }
    .menu{
        float: left;
        margin-top:1%;
    }
    .profile_img
    {
        float: right;
        height:73px;
        width: 70px;
        padding: 10px;
    }
    #top_row p{
        float:right;
        margin-top:1.7%;
        margin-right:2%;
        color:grey;
    }

    #top_row{
        padding-left:5%;
    }

    #base {
        background-color: black;
        color:white;
        padding-left:5%;
        padding-right:5%;
        padding-top:5%;
        padding-bottom:15%;
        border-radius:4px;
        font-size:120%;
        margin-right:16px;
        }
        #progressbar {
        background-color: white;
        border-radius: 13px;
        }
        #progressbar > div {
        background-color: blue;
        width: 30%;
        height: 20px;
        border-radius: 10px;
        }

        #profile{
            clear: both;
            float: left;
            width: 30%;
            padding-top: 20px;
        }

        #featured{
            float: left;
            width: 100%;
            margin-bottom: 20px;
        }

        #bottom_row{
            clear: both;
            float: left;
            width: 100%;
            border-top: 1px #d3cccc solid;
        }

    #opportunities{
        float: left;
        width: 70%;
    }
    #featured img{
        width: 97%;
        height: 400px;
    }

    .fcontainer{
        position: relative;
    }
    .fcontenttitle{
        position: absolute;
        top: 13px;
        color: white;
        font-size: 41px;
        left: 20px;
        font-weight: bold;
    }

    .ftitle{
        font-size: 21px;
        color: #686262;
        font-weight: bold;
    }

    .fcaption{
        position: absolute;
        top: 70px;
        left: 20px;
        color: white;
        font-size: 24px;
    }
    .additional_offer{
        position: absolute;
        bottom: 70px;
        left: 20px;
        color: white;
        font-size: 20px;
    }
    .flearnmore{
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        background-color: white;
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: black;
        cursor: pointer;
    }
    .otheroppimage{
       width: 95%;
        height: 300px;

    }

    .otheroppcontainer{
        width: 50%;
        float: left;
        margin-top: 20px;
    }

  a:hover{
    text-decoration: none !important;
}
  a.flearnmore:hover{
   color: black !important;
  }